<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do-List</title>
    <link rel="stylesheet" href="CssStyles\styles.css">
</head>
<body>
    <!-- <% if(todayDate==="Saturday" || todayDate==="Sunday"){%>
        <h1 style="color : green; font-style: italic;"><%= todayDate %> To do List</h1>
    <%}else{%>
        <h1 style="color : purple; font-style: italic;"><%= todayDate %> To do List</h1>
    <%}%> -->
    <div class="box" id="heading">
        <h1><%= todayDate %></h1>
    </div>
    <div class="box">
       
            <% for(var i = 0;i< newItems.length;i++){%>
            <div class="item">
                <input type="checkbox">
                <p><%= newItems[i] %></p>
            </div>
                 
            <%}%>
            <form class="item" action="/" method="post">
                <input type="text" name="newItem" placeholder="enter new item">
                <button type="submit" name="button">+</button>
            </form>
    </div>
    
   
   
</body>
</html>